.navbar{

position:sticky;

top:0;

z-index:1000;

display:flex;

justify-content:space-between;

align-items:center;

padding:18px 7%;

backdrop-filter:blur(18px);

background:rgba(15,23,42,.65);

border-bottom:1px solid rgba(255,255,255,.08);

}

.logo{

display:flex;

align-items:center;

gap:10px;

font-size:26px;

font-family:"Orbitron",sans-serif;

color:var(--accent);

}

.logo svg{

font-size:30px;

}

nav{

display:flex;

gap:35px;

}

nav a{

font-size:16px;

color:var(--white);

font-weight:500;

transition:.3s;

position:relative;

}

nav a:hover{

color:var(--accent);

}

nav a::after{

content:"";

position:absolute;

left:0;

bottom:-6px;

height:2px;

width:0;

background:var(--accent);

transition:.3s;

}

nav a:hover::after{

width:100%;

}

.search-box{

display:flex;

align-items:center;

gap:10px;

background:rgba(255,255,255,.05);

padding:10px 18px;

border-radius:40px;

border:1px solid rgba(255,255,255,.08);

}

.search-box input{

background:none;

color:white;

width:180px;

}

.search-box input::placeholder{

color:#94A3B8;

}

.search-icon{

color:#94A3B8;

}

.nav-buttons{

display:flex;

align-items:center;

gap:15px;

}

.login-btn{

padding:10px 22px;

border:1px solid var(--accent);

border-radius:10px;

transition:.3s;

}

.login-btn:hover{

background:var(--accent);

color:black;

}

.register-btn{

padding:10px 22px;

background:linear-gradient(135deg,#6366F1,#8B5CF6);

border-radius:10px;

font-weight:600;

}

.profile-icon{

font-size:34px;

cursor:pointer;

color:var(--accent);

}